PMGSY/Web References/NREGAWebReference/pmgsyplantation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nrega.nic.in" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nrega.nic.in" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nrega.nic.in">
      <s:element name="uploadPMGSYDataWithOMMSCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StateOMMSCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadPMGSYDataWithOMMSCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadPMGSYDataWithOMMSCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeSoapIn">
    <wsdl:part name="parameters" element="tns:uploadPMGSYDataWithOMMSCode" />
  </wsdl:message>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeSoapOut">
    <wsdl:part name="parameters" element="tns:uploadPMGSYDataWithOMMSCodeResponse" />
  </wsdl:message>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeHttpGetIn">
    <wsdl:part name="StateOMMSCode" type="s:string" />
    <wsdl:part name="filex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeHttpPostIn">
    <wsdl:part name="StateOMMSCode" type="s:string" />
    <wsdl:part name="filex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadPMGSYDataWithOMMSCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="pmgsyplantationSoap">
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <wsdl:input message="tns:uploadPMGSYDataWithOMMSCodeSoapIn" />
      <wsdl:output message="tns:uploadPMGSYDataWithOMMSCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="pmgsyplantationHttpGet">
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <wsdl:input message="tns:uploadPMGSYDataWithOMMSCodeHttpGetIn" />
      <wsdl:output message="tns:uploadPMGSYDataWithOMMSCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="pmgsyplantationHttpPost">
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <wsdl:input message="tns:uploadPMGSYDataWithOMMSCodeHttpPostIn" />
      <wsdl:output message="tns:uploadPMGSYDataWithOMMSCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pmgsyplantationSoap" type="tns:pmgsyplantationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <soap:operation soapAction="http://nrega.nic.in/uploadPMGSYDataWithOMMSCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pmgsyplantationSoap12" type="tns:pmgsyplantationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <soap12:operation soapAction="http://nrega.nic.in/uploadPMGSYDataWithOMMSCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pmgsyplantationHttpGet" type="tns:pmgsyplantationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <http:operation location="/uploadPMGSYDataWithOMMSCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pmgsyplantationHttpPost" type="tns:pmgsyplantationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="uploadPMGSYDataWithOMMSCode">
      <http:operation location="/uploadPMGSYDataWithOMMSCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pmgsyplantation">
    <wsdl:port name="pmgsyplantationSoap" binding="tns:pmgsyplantationSoap">
      <soap:address location="http://164.100.129.6/netnrega/nregapost/pmgsyplantation.asmx" />
    </wsdl:port>
    <wsdl:port name="pmgsyplantationSoap12" binding="tns:pmgsyplantationSoap12">
      <soap12:address location="http://164.100.129.6/netnrega/nregapost/pmgsyplantation.asmx" />
    </wsdl:port>
    <wsdl:port name="pmgsyplantationHttpGet" binding="tns:pmgsyplantationHttpGet">
      <http:address location="http://164.100.129.6/netnrega/nregapost/pmgsyplantation.asmx" />
    </wsdl:port>
    <wsdl:port name="pmgsyplantationHttpPost" binding="tns:pmgsyplantationHttpPost">
      <http:address location="http://164.100.129.6/netnrega/nregapost/pmgsyplantation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>